body{
	font-size: 62.5%;
	font-family: arial,sans-serif;
}
#websiteTitle{
	font-size: 10em;
	vertical-align:middle;
	font-family: 'Pacifico', cursive;
	padding-left: 15px;
	color:#191970;
}
.container{
	width:1400px;
	background: #ff5722;
}
.navbar{
	height:30px;
	background-color: white;
}
/*welcome page*/
.welcome{
	width:100px;
	height:35px;
}
.register{
	float:left;
	margin-left: 20px;    
    position: absolute;
  	left: 5%;
  	transform: translate(-30%, 20%);
  	background-color: white;
	box-shadow: 0 12px 12px 4px rgba(0,0,0,0.5);
}
.login{
	float:left;
	margin-left: 20px;    
    position: absolute;
  	left: 5%;
  	transform: translate(-20%, 100%);
  	background-color: white;
	box-shadow: 0 12px 12px 4px rgba(0,0,0,0.5);
}
/*Main page*/
.headline{
	margin-top: 10px;
}
.moments{
	width:800px;
	float:left;
}
.card{
    width:350px;  
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    float: left;
    box-shadow: 0 12px 12px 4px rgba(0,0,0,0.5);
}
.sidebar{
	width: 300px;
	height: 400px;
	margin-top: 10px;
	margin-right: 25px;
	float:right;
	text-align: center;
	background-color: white;
	box-shadow: 0 12px 12px 4px rgba(0,0,0,0.5);
}
.add{
	margin-top: 5px;
	margin-left: 5px;
}
.follower{
	position: relative;
	width:265px;
	height:70px;
    left: 50%;
	margin-bottom: 10px;
	margin-left:-135px;
	/*text-align: center;*/
}
.searchField{
	text-align: left;
}
.addArticle{
	width: 310px;
	text-align: left;
	margin-left: 25px;
	background-color: white;
	box-shadow: 0 12px 12px 4px rgba(0,0,0,0.5);
}
.icon{
	height:100px;
    width:100px;
	margin-left: 10px;
    margin-top: 10px;
	float: left;
	margin: 10px
}
#icon{
	width: 100%;
}
.information{
    width:150px;
    height:100px;
	margin: 10px;
	float:left;
}
.content{
	 margin-left:15px;
	 margin-right: 15px;
	 text-align: justify;
}
.editbutton{
	text-align: right;
	margin-bottom: 5px;
}
.img{
	display:block; 
	margin:0 auto;
	width:300px;
}
.follower_icon{
    width:40px;
	/*margin-left: 10px;*/
    margin-top: 10px;
	float: left;
	position: absolute;
  	top: 50%;
  	transform: translate(0%, -75%);
	/*margin: 10px;*/
}
.follower_information{
	width:130px;
	margin-left: 10px;
    margin-top: 10px;
	float: left;
	text-align: left;    
	line-height: 40%;      
    position: absolute;
  	top: 45%;
  	left: 45%;
  	transform: translate(-50%, -50%);
}
.unfollow{
  	transform: translate(35%, 30%);
}
/*Profile page*/
.profile_picture_region{
	height: 200px;
	margin-top: 25px;
	margin-left: 50px;
	margin-right: auto;
	float: left;
	background-color: white;
	box-shadow: 0 12px 12px 4px rgba(0,0,0,0.5);
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}
.current_profile{
	height: 200px;
	float:left;
	margin-top: 25px;
	margin-left:50px;
	margin-right: auto;
	background-color: white;
	box-shadow: 0 12px 12px 4px rgba(0,0,0,0.5);
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}
.update_profile{
	height: 300px;
	float: left;
	margin-top: 25px;
	margin-left:50px;
	margin-right: 50px;
	vertical-align: center;
	background-color: white;
	box-shadow: 0 12px 12px 4px rgba(0,0,0,0.5);
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.profile_icon{
	height: 150px;
	width: 150px;
	margin-left: 20px;
}
.update_button{
	style="text-align: right;"
}